@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

h1,h2,h3,h4,h5,h6{
    @apply cursor-default
}

.transition-item-1{
    @apply transition-all ease-out duration-100
}

.transition-item-2{
    @apply transition-all ease-out duration-200
}

/*? Logo */

.logo-light{
    @apply flex items-center text-dark-white_1 hover:text-primary-2 font-bold text-xl transition-item-2
}
.logo-light > *{
    @apply pl-1 mb-3 text-dark-white_2 font-bold 
}

/*? Bottom Border */
.animation-b-border-primary{
    @apply border-transparent  border-b 2xl:border-b-2 3xl:border-b-4 hover:border-primary-1 transition-item-1
}
.animation-b-border-dark{
    @apply border-transparent  border-b 2xl:border-b-2 3xl:border-b-4 hover:border-dark-black_1 transition-item-1
}

/*? Text Block */
.text-block{
    @apply relative w-64 py-1 px-3 cursor-pointer
     before:content-[''] before:absolute before:left-0 before:top-0 
     before:w-[3px] before:h-[45px] before:bg-primary-1
     before:transition-all before:duration-300 
     hover:before:h-full
}
.text-block > h4{
    @apply text-lg pb-2 font-semibold leading-5 cursor-pointer
}
.text-block > p {
    @apply font-quicksand text-dark-black_2 font-medium
}